<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="VisorTestSuite" parallel="false">
	<test name="RegistroWebDriverTest">
		<parameter name="navegador" value="ie"/>
		<parameter name="remoto" value="0"/>
		<parameter name="rutaInsertarArchivo" value="C:\Data\Onpe\DataRegistro\DataCrearUsuario.xls"/>
		<classes>
			<class name="pe.com.test.seleniumwd.RegistroWebDriverTest" />
		</classes>
	</test>
	<test name="DistritoWebDriverTest">
		<parameter name="navegador" value="ie"/>
		<parameter name="remoto" value="0"/>
		<parameter name="rutaInsertarArchivo" value="C:\Data\Onpe\DataDistritos\DataInsertarDistrito.xls"/>
		<parameter name="rutaEditarArchivo" value="C:\Data\Onpe\DataDistritos\DataEditarDistrito.xls"/>
		<parameter name="rutaEliminarrArchivo" value="C:\Data\Onpe\DataDistritos\DataEliminarDistrito.xls"/>
		<classes>
			<class name="pe.com.test.seleniumwd.DistritoWebDriverTest" />
		</classes>
	</test>
	<test name="PartidoWebDriverTest">
		<parameter name="navegador" value="ie"/>
		<parameter name="remoto" value="0"/>
		<parameter name="rutaInsertarArchivo" value="C:\Data\Onpe\DataPartidos\DataInsertarPartido.xls"/>
		<parameter name="rutaEditarArchivo" value="C:\Data\Onpe\DataPartidos\DataEditarPartido.xls"/>
		<parameter name="rutaEliminarrArchivo" value="C:\Data\Onpe\DataPartidos\DataEliminarPartido.xls"/>
		<classes>
			<class name="pe.com.test.seleniumwd.PartidoWebDriverTest" />
		</classes>
	</test>
	<test name="CandidatoWebDriverTest">
		<parameter name="navegador" value="ie"/>
		<parameter name="remoto" value="0"/>
		<parameter name="rutaInsertarArchivo" value="C:\Data\Onpe\DataCandidatos\DataInsertarCandidato.xls"/>
		<parameter name="rutaEditarArchivo" value="C:\Data\Onpe\DataCandidatos\DataEditarCandidato.xls"/>
		<parameter name="rutaEliminarrArchivo" value="C:\Data\Onpe\DataCandidatos\DataEliminarCandidato.xls"/>
		<classes>
			<class name="pe.com.test.seleniumwd.CandidatoWebDriverTest" />
		</classes>
	</test>
</suite> 
